<div id="profile-container" class="container">
    <div id="card" class="row justify-content-start">
        <div id="profile-card" class="col-4">
            <div class="profile-pic">
                <div class="circle"></div>
                {{!-- Sample image for now, need to figure out how to show breed image --}}
                <img src="/public/images/profileSample.jpeg" alt="dog image">
            </div>
            {{!-- pet profile information based on the user from the database --}}
            <div class="info">
                <h1 class="title">{{petname}}</h1>
                <p>Sex: {{sex}}</p>
                {{!-- <p>Registered: {{registered}}</p> --}}
                <p>Age: {{age}}</p>
                <p>Breed: {{breed}}</p>
                <p>Bio: {{pet_bio}}</h3>
                {{!-- Shows user posts --}}
                
                {{!-- User comment form, only works if logged in --}}
                {{#if loggedIn}}
                <form class="comment-form">
                    <div>
                        <textarea name="comment-body"></textarea>
                    </div>

                    <div>
                        <button type="submit">add comment</button>
                    </div>
                </form>
                {{/if}}
                {{!-- pet-profile comment section --}}
                {{!-- <div class="comments">
                    {{#each post.comments}}
                    <section class="comment">
                        <div class="meta">
                            {{user.petname}} on {{created_at}}
                        </div>
                        <div class="text">
                            {{comment_text}}
                        </div>
                    </section>
                    {{/each}}
                </div> --}}
            </div>
        </div>
    </div>
</div>

{{!-- comment.js will only work if loggedIn --}}
{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}