<div id="profile-container" class="container">
    <div id="card" class="row justify-content-start">
        <div id="profile-card" class="col-4">
            <div class="profile-pic">
            </div>
            {{!-- pet profile information based on the user from the database --}}
            <div class="info">
                <h1 class="title">{{petData.petname}}</h1>
                <p>Breed: {{petData.breed}}</p>
                <p>Sex: {{petData.sex}}</p>
                <p>Age: {{petData.age}}</p>
                <p>Bio: {{petData.pet_bio}}</h3>

                    {{!-- User comment form, only works if logged in --}}
                {{!-- {{#if loggedIn}} --}}
                <form class="comment-form">
                    <div>
                        <textarea name="comment-body"></textarea>
                    </div>
                    <div>
                        <button data-postID={{post.post_id}} type="submit">add comment</button>
                    </div>
                </form>
                {{!-- {{/if}} --}}
                {{!-- pet-profile comment section --}}
                <div class="comments">
                    {{#each post.comments}}
                    <section class="comment">
                        <div class="meta">
                            {{user.petname}} on {{created_at}}
                        </div>
                        <div class="text">
                            {{comment_text}}
                        </div>
                    </section>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/comment.js"></script>
